@{
    ViewData["Title"] = "Home";
}

<div aurelia-app="boot">Loading...</div>

@section scripts {
    <script type="text/javascript" src="~/Scripts/vendor.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/Scripts/app.js" asp-append-version="true"></script>
}
